.Controls {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.TextAreaContainer {
  flex-grow: 1;
  padding: 8px 16px;
  line-height: 0;
  border-radius: 16px;
  background: #ffffff;
}

.TextArea {
  width: 100%;
  border: none;
  outline: none;
  resize: vertical;

  /*width: 500px;*/
  font-size: 20px;
  background-color: beige;
  color: black;
  border: none;
  border-radius: 42px;
  padding: 10px 0px 10px 10px;
}